
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Vaibhav Dubey</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/slackProf.png' %}" >
					<hr>
					<h4>Hi I'm Vaibhav</h4>
					<p>I love coding, doing research and collaborating</p>
					<p> Currently Working as a Senior Software Engineer at LTIMindtree, where I am working on NodeJs and React Framework. devloping APIs, integrating third party apps into an webapp and writing unit tests using Jests<p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About me</h4>
					<hr>
					<p>Hello World !</p>

					<p>I am a trained full stack MERN developer with expertise in nodejs. Django and Flask are some python frameworks that I have dabbled in every now and then.</p>

					<p>I have had good opportunities to work both individually and as a part of a team on interactive full stack projects in the industry along with being an avid practitioner of agile methodologies.</p>

					<div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 12rem;">
                                <img src="{% static 'images/aws.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">AWS Technical Accredidated</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 12rem;">
                                <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Trained in Python Development 5 star</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 12rem;">
                                <img src="{% static 'images/ltifs.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">LTI certified Full Stack Developer</p>
                                </div>
                              </div>
                        </div>
                    </div>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Senior Software Engineer.</p>
					<p>Designed, built and managed a lab management system as a sole developer. System supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
					</div>
			</div>
            <div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Internship Learnings</h5>
					<hr>
					<p>Trainee backend Developer</p>
					<p>Initially worked on some plugins in PHP and later on worked on the Django Framework to build a couple of web apps. In addition to this, I also developed some python scripts and web scrapers.</p>
					</div>
			</div>
        </div>
        <br>
            <div class="row">    
			<div class="col-md-12">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		    </div>
		<br>
			<div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">
				<h5>Recommendations</h5>
				<hr>
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img class="d-block w-100" src="{% static 'images/praveen.png' %}" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="{% static 'images/megha.png' %}" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="{% static 'images/anjali.png' %}" alt="Third slide">
					  </div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				  </div>
				</div>
			</div>
			</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) & youtube channel.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>